<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/updateForm.css}">
    <title>Update Product</title>
</head>
<body>
<h2>Обновить сведения о товаре: </h2>
<form th:action="@{|/products/update/${product.getId()}|}" th:object="${product}" method="post">
    <label for="name">Название: </label>
    <input id="name" name="updatedName" th:value="*{name}" required class="form-control">
    <br>
    <label for="price">Цена: </label>
    <input id="price" name="updatedPrice" th:value="*{price}" required class="form-control">
    <br>
    <div th:each="entry: ${options}">
        <input type="hidden" name="optionIds" th:value="${entry.getKey().id}">
        <p th:text="${entry.getKey().getName()}"></p>

        <input th:value="${entry.getValue().isPresent() ? entry.getValue().get().name : ''}"
               name="valueNames" class="form-control">
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Отправить</button>
    <br>
</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</html>