<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Создать продукт</h2>
<form action="/products/create" method="post">
    <p>Название продукта:</p>
    <input type="text" name="name">

    <p>Выбоать категорию:</p>
    <select name="category.id">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>

    <p>Выберите характеристику:</p>
    <div th:each="option : ${options}">
        <p th:text="${option.name}"></p>
        <input type="hidden" name="optionIds" th:value="${option.id}">
        <input type="text" name="values">
    </div>

    <p>Цена</p>
    <input type="number" th:field="*{product.price}">

    <button type="submit">Создать</button>
</form>
</body>
</html>