<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Все продукты</h1>
<table>
    <thead>
    <tr>
        <th>Название продукта</th>
        <th>Категория</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.category.name}"></td>
        <td th:text="${product.getPrice()}"></td>
    </tr>
    </tbody>
</table>

<a href="/products/create">Создать продукт</a>
</body>
</html>