<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h2>Создать продукт</h2>
<form action="/products/create" method="post">
    <p>Наименование:</p>
    <input type="text" name="name">

    <p>Указать значения характеристик:</p>
    <div th:each="option : ${options}">
        <p th:text="${option.name}"></p>
        <input type="text" name="values" th:attr="placeholder='Введи значение для ' + ${option.name}">
    </div>

    <p>Ценв:</p>
    <input type="number" name="price">

    <button type="submit">Создать</button>
</form>
</body>
</html>